* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: "Inter", Times, sans-serif;
}

:root {
  --text-background: #242e2d;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;

  background: linear-gradient(120deg, #48f4ee, #197dc4);
}

h1 {
  text-transform: uppercase;
  color: var(--text-background);
  margin-bottom: 10px;
}

#card {
  width: 750px;
  height: 500px;
  border: none;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}


.tab-links {
  display: none;
}

.tab-links.active-link {
  display: flex;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: flex;
}

#one {
  flex-direction: column;
  align-items: center;
}

#one img {
  width: 70%;
 
  background-size: contain;
}

#one h2 {
  margin: 10px;
  z-index: 10;
  cursor: pointer;
}

#two {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
}

#two .button {
  display: flex;
  gap: 15px;
}

#two .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  transition: all 0.5s;
}

#two button:hover {
  background: #48f4ee;
  color: white;
}

#three {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
}

#three .button {
  display: flex;
  gap: 15px;
}

#three .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  transition: all 0.5s;
}

#three button:hover {
  background: #48f4ee;
  color: white;
}

#four {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
  z-index: 100;
}

#four .button {
  display: flex;
  gap: 15px;
}

#four .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  transition: all 0.5s;
}

#four button:hover {
  background: #48f4ee;
  color: white;
}

#fourOne {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  row-gap: 20px;
  z-index: 100;
}

#fourOne h2 {
  font-size: 16px;
}

#fourOne .button {
  display: flex;
  gap: 15px;
}

#fourOne .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  
  transition: all 0.5s;
}

#fourOne button:hover {
  background: #48f4ee;
  color: white;
}

#fourTwo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  row-gap: 20px;
  z-index: 100;
}

#fourTwo h2 {
  font-size: 16px;
}

#fourTwo .button {
  display: flex;
  gap: 15px;
}

#fourTwo .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  
  transition: all 0.5s;
}

#fourTwo button:hover {
  background: #48f4ee;
  color: white;
}


#fourThree {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  row-gap: 20px;
  z-index: 100;
}

#fourThree h2 {
  font-size: 16px;
}

#fourThree .button {
  display: flex;
  gap: 15px;
}

#fourThree .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  
  transition: all 0.5s;
}

#fourThree button:hover {
  background: #48f4ee;
  color: white;
}

#five {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
  z-index: 100;
}

#five .button {
  display: flex;
  gap: 15px;
}

#five .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  transition: all 0.5s;
}

#five button:hover {
  background: #48f4ee;
  color: white;
}

.tab-contents {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  row-gap: 20px;
  z-index: 100;
}

.tab-contents h2 {
  font-size: 16px;
}

.tab-contents .button {
  display: flex;
  gap: 15px;
}

.tab-contents .button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  transition: all 0.5s;
}

.tab-contents button:hover {
  background: #48f4ee;
  color: white;
}
