* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: "Inter", Times, sans-serif;
}

:root {
  --text-background: #242e2d;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;

  background: linear-gradient(120deg, #48f4ee, #197dc4);
}

h1 {
  text-transform: uppercase;
  color: var(--text-background);
  margin-bottom: 10px;
}

#card {
  width: 750px;
  height: 500px;
  border: none;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}

.tab-links {
  display: none;
}

.tab-links.active-link {
  display: flex;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: flex;
}

.button {
  display: flex;
  gap: 15px;
}

.button button {
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  background: #479ad4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  transition: all 0.5s;
}

button:hover {
  background: #48f4ee;
  color: white;
}

#one {
  flex-direction: column;
  align-items: center;
}

#one img {
  width: 70%;
  background-size: contain;
  cursor: pointer;
}

#one h2 {
  margin: 10px;
  z-index: 10;
  cursor: pointer;
}

#two {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
}


#three {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
}

#four {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -20px;
  row-gap: 20px;
  z-index: 100;
}

#five {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -40px;
  row-gap: 20px;
  z-index: 100;
}

.my-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 180px auto 0;
  /* row-gap: 20px; */
  z-index: 100;
}

.my-section h2 {
  font-size: 16px;
  margin-bottom: 15px;
}


.tab-contents {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 50px;
  z-index: 100;
}

.tab-contents h2 {
  font-size: 16px;
}

#six {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  row-gap: 20px;
  z-index: 100;
}

#seven {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -50px;
  row-gap: 20px;
  z-index: 100;
}

#eight {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -50px;
  row-gap: 20px;
  z-index: 100;
}

.hidden-section {
  opacity: 0;
  transform: translateY(100%);
  position: absolute;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible-section {
  opacity: 1;
  transform: translateY(0);
}
